@font-face {
    font-family: 'Arimo';
    src: url('/assets/fonts/Arimo-Variable.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('/assets/fonts/Mona-Sans.woff2');
    font-display: swap;
}

html {
    word-break: break-word;
}

code {
    /* white-space-collapse: preserve !important; */
    overflow-x: auto;
    width: auto;
}

math {
    margin-top: 1rem;
}

.hljs {
    @apply rounded-lg;
}

ol > li {
    counter-increment: list-number;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 28px;
}

.prose ol > li::before {
    content: counters(list-number, '.') '.';
    padding-right: 0.5rem;
    color: var(--tw-prose-counters);
    font-weight: 400;
}

li p {
    display: inline;
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217, 217, 227, 0.8);
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
}

::-webkit-scrollbar {
    height: 0.4rem;
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.katex-mathml {
    display: none;
}

svelte-virtual-list-viewport.svelte-1tqh76q {
    position: relative;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    display: block;
    padding-top: 5px;
}

.k-tour-content {
    width: auto !important;
    max-width: 520px !important;
    min-width: 300px !important;
}

/* 全局滚动条样式 start */
.overflow-y-auto {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 3px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.7);
}

:global(.dark) .overflow-y-auto {
    scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
}

:global(.dark) .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgba(75, 85, 99, 0.5);
}

:global(.dark) .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(75, 85, 99, 0.7);
}

/* 全局滚动条样式 end */
